src/Alice/__pycache__
src/Alice/bits/__pycache__
src/Alice/Handle/__pycache__
src/Alice/Network/__pycache__
src/Alice/Network/lib/__pycache__
src/Alice/Panel/__pycache__
src/Alice/Picture/__pycache__
src/Pages/__pycache__
.DS_Store